<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bankName</key>
		<string>中国工商银行</string>
		<key>bankImageName</key>
		<string>bank_gongs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国农业银行</string>
		<key>bankImageName</key>
		<string>bank_nongy_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国银行</string>
		<key>bankImageName</key>
		<string>bank_zhongg_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国建设银行</string>
		<key>bankImageName</key>
		<string>bank_jians_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>交通银行</string>
		<key>bankImageName</key>
		<string>bank_jiaot_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中国储蓄储蓄银行</string>
		<key>bankImageName</key>
		<string>bank_youzheng_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>广发银行</string>
		<key>bankImageName</key>
		<string>bank_guangf_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>平安银行</string>
		<key>bankImageName</key>
		<string>bank_pinga_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>招商银行</string>
		<key>bankImageName</key>
		<string>bank_zhaos_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>民生银行</string>
		<key>bankImageName</key>
		<string>bank_mins_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>光大银行</string>
		<key>bankImageName</key>
		<string>bank_guangd_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>兴业银行</string>
		<key>bankImageName</key>
		<string>bank_xingy_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>中兴银行</string>
		<key>bankImageName</key>
		<string>bank_zhongx_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>华夏银行</string>
		<key>bankImageName</key>
		<string>bank_huax_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>浦发银行</string>
		<key>bankImageName</key>
		<string>bank_puf_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>杭州银行</string>
		<key>bankImageName</key>
		<string>bank_hangz_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>北京银行</string>
		<key>bankImageName</key>
		<string>bank_beij_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>浙商银行</string>
		<key>bankImageName</key>
		<string>bank_zheshang_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>上海银行</string>
		<key>bankImageName</key>
		<string>bank_shangh_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>广州银行</string>
		<key>bankImageName</key>
		<string>bank_guangz_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>江苏银行</string>
		<key>bankImageName</key>
		<string>bank_jiangs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>太仓农村商业银行</string>
		<key>bankImageName</key>
		<string>bank_taichang_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>东莞农商</string>
		<key>bankImageName</key>
		<string>bank_dongguangns_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>广东东信</string>
		<key>bankImageName</key>
		<string>bank_guangdongnx_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>广州农商</string>
		<key>bankImageName</key>
		<string>guangzhouns_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>深农银行</string>
		<key>bankImageName</key>
		<string>bank_shenzns_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>宁波银行</string>
		<key>bankImageName</key>
		<string>bank_ningb_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>山东农信社</string>
		<key>bankImageName</key>
		<string>bank_shandongnxs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>江南农村商业银行</string>
		<key>bankImageName</key>
		<string>bank_jiangnanncsy_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>吉林省农信社</string>
		<key>bankImageName</key>
		<string>bank_jilinnxs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>江苏银行</string>
		<key>bankImageName</key>
		<string>bank_jiangs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>长江商业银行</string>
		<key>bankImageName</key>
		<string>bank_changjiangsy_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>黑龙江农信社</string>
		<key>bankImageName</key>
		<string>bank_heilingjiangnxs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>甘肃农信社</string>
		<key>bankImageName</key>
		<string>bank_gansunxs_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>恒丰银行</string>
		<key>bankImageName</key>
		<string>bank_hengfeng_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>广东南粤银行</string>
		<key>bankImageName</key>
		<string>bank_guangdongn_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>东莞银行</string>
		<key>bankImagwName</key>
		<string>bank_dongg_image</string>
	</dict>
	<dict>
		<key>bankName</key>
		<string>武汉农商行</string>
		<key>bankImageName</key>
		<string>bank_wuhannsh_image</string>
	</dict>
</array>
</plist>
